@page "/"

<h1>Timers</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

<hr />

<NavLink class="nav-link" href="api/teams/1">
    <span class="oi oi-plus" aria-hidden="true"></span> api/team/1
</NavLink>

@functions {
int currentCount = 0;

void IncrementCount()
{
    currentCount++;
}
}